.container {
  display: flex;
  justify-content: center;
  padding: 48px 20px 80px;
}
.main {
  width: 640px;
}
.w-main {
  padding: 32px 20px 80px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(136, 136, 136, 0.2);
}
.w-main-present {
  margin: 72px 0 0;
}

[v-cloak] {
  display: none;
}

.not-page {
  display: flex;
  justify-content: center;
  padding: 32px 20px;
  background: #fff;

  h1 {
    color: #555;
    font-size: 24px;
  }
}
/*
|-------------------------------
| header部
|-------------------------------
*/
.w-header-section1 {
  display: flex;

  p {
    margin: {
      right: auto;
      top: 0;
      bottom: 0;
      left: 0;
    };
    color: #555;
    font-size: 16px;
  }


  // お気に入り
  .favorite {
    i {
      color: #ffabce;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .dislike {
    i {
      color: rgba(1, 1, 1, 0.2);
      
      &:hover {
        cursor: pointer;
      }
    }
  }

}

.w-header-section2 {
  display: flex;

  .w-user_info {
    display: inline-block;
    text-decoration: none;
    color: #555;
    
    img {
      width: 40px;
      height: 40px;
    }

    span {
      font-size: 18px;
      position: relative;
      top: -14px;
      padding: 0 16px 0 8px;
    }
  }

  .w-title {
    h3 {
      margin: 0;
      font-size: 24px;
      color: #555;
    }
  }
}
.w-header-section3 {
  .w-tag {
    display: inline-block;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    background: #e9e9e9;
    padding: 0 8px;
    margin-right: 8px;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*
|---------------------------------------
| メディア部分
|---------------------------------------
*/
.w-media-section {
  margin: 48px 0 24px;

  /deep/ .el-carousel {
    text-align: center;

    img {
      width: auto;
      height: 300px;
    }
  }

  /deep/ .el-carousel__container {
    height: 300px;
  }
}

/*
|-------------------------------------
| 本文
|------------------------------------
*/
.w-content-section {
  .el-textarea {
    /deep/ .el-textarea__inner {
      font-size: 16px;
      color: #555;
      border: none;
      resize: none;
    }
  }
}
/*
|-------------------------------------
|
|------------------------------------
*/
.w-subject {
  font-size: 18px;
  color: #555;
  padding: 8px 16px;
  background: #fff;
  box-shadow: 0 0 8px rgba(185, 185, 185, 0.8);
}
.w-presents {
  /deep/ .el-carousel__container {
    height: 320px;
  }
  img {
    margin: 4px 0;
    width: 100%;
    height: 194px;
  }
  .w-label {
    display: flex;
    justify-content: center;
    border: 1px solid #ffbf7f;

    span {
      display: inline-block;
      padding: 2px 0;
    }
  }
  .w-target {
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    background: #f0f0f0;

    span {
      color: #333;
      padding: 2px 0;
    }
  }

  .w-card {
    padding: 6px 8px;
    border: 1px solid #f0f0f0;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 0 10px rgba(185, 185, 185, 0.8);
  }
  .w-card-title {
  }
}
/*
|-----------------------------------
| util
|-----------------------------------
*/
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
  }

  .w-header_item2 {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .w-media-section {
    /deep/ .el-carousel {
      img {
        width: 100%;
        height: 200px;
      }
    }

    /deep/ .el-carousel__container {
      height: 200px;
    }
  }
}

