.w-profile {
  display: flex;
}

img {
  width: 220px;
  height: 180px;
}

.w-intro {
  padding: 0 20px;
  width: 100%;
}

.w-name {
  span {
    display: inline-block;
    padding: 0 0 8px;
    font-size: 18px;
    position: relative;
    top: 3px;
    color: #555;
  }
}


.w-section2 {
  h3 {
    margin: 16px 0 8px;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #ddd;
  }
}

.w-greeting {
  height: 128px;
  color: #555;
  font-size: 16px;
  word-break: break-all;
}

.w-follow {
  display: flex;
  a {
    color: #555;
    margin: 8px 0;
    padding: 4px 0;
    

    &:first-child {
      margin-right: 24px;
    }
  }
}

@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 768px) {
  .w-profile {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  .w-intro {
    padding: 0;
  }

  .w-greeting {
    height: auto;
  }
}